extends ./layout/_page.pug

block vars
  -
    var page = pages.computed;

block content
  .c-article
    .c-article__head
      h1.c-article__title
        |#{page.title}
      p.c-article__excerpt
        |#{page.description}
    .c-article__content
      h2.c-article__content-head
        |Basic Example
      #app-basic.
        a = {{ a }}, b = {{ b }}
