extends ./layout/_page.pug

block vars
  -
    var page = pages.event;

block content
  .c-article
    include ./modules/_article-head.pug
    .c-article__content
      h2.c-article__content-head
        |Listening to Events
      #app-listen
        button(@click="counter++")
          |Add 1
        p
          |the button above has been clicked {{ counter }} times.
      h2.c-article__content-head
        |Method Event Handlers
      #app-method
        p
          |view message on console when Greet button is pushed.
        div
          input(v-model="name")
          button(@click="greet")
            |Greet
      h2.c-article__content-head
        |Event Modifiers
      #app-modifiers
