extends ./layout/_page.pug

block vars
  -
    var page = pages.index;

block content
  .p-index-contents
    .p-index-contents__list
      each elm in pages
        if (elm.title !== '')
          a(href = elm.path).p-index-contents__item
            .p-index-contents__item-wrap
              h2.p-index-contents__item-head
                |#{elm.title}
              p.p-index-contents__item-excerpt
                |#{elm.description}
