extends ./layout/_page.pug

block vars
  -
    var page = pages.list;

block content
  .c-article
    include ./modules/_article-head.pug
    .c-article__content
      h2.c-article__content-head
        |v-for
      #app-for
        ul
          li(v-for="(item, index) in items")
            |{{ parentMessage }} - {{ index }} - {{ item.message }}
        ul
          template(v-for="item in items")
            li {{ item.message }}
            li(class="divider")
      h2.c-article__content-head
        |Object v-for
      #app-object
        ul
          li(v-for="value in object")
            |{{ value }}
        ul
          li(v-for="(value, key, index) in object")
            |{{ index }}. {{ key }} : {{ value }}
      h2.c-article__content-head
        |Range v-for
      #app-range
        span(v-for="n in 10")
          |{{ n }}
      h2.c-article__content-head
        |Components and v-for
      #app-components
        my-component(
          v-for="(item, index) in items",
          v-bind:item="item",
          v-bind:index="index",
          )
      h2.c-article__content-head
        |Array Change Detection
      h3.c-article__content-sub-head
        |Displaying Filtered / Sorted Results
      #app-filter
        p
          |computed evenNumbers result = {{ evenNumbers }}
        ul
          li(v-for="n in evenNumbers")
            |{{ n }}
        p
          |methods even result = {{ even(numbers) }}
        ul
          li(v-for="n in even(numbers)")
            |{{ n }}
