extends ./layout/_page.pug

block vars
  -
    var page = pages.start;

block content
  .c-article
    .c-article__head
      h1.c-article__title
        |#{page.title}
      p.c-article__excerpt
        |#{page.description}
    div#app
      p.
        {{ message }}
      input(v-model="message")
