extends ./layout/_page.pug

block vars
  -
    var page = pages.template;

block content
  .c-article
    include ./modules/_article-head.pug
    .c-article__content
      h2.c-article__content-head
        |Using JavaScript Expressions
      div#app
        p number + 1 = {{ number + 1 }}
        p ok = {{ ok ? 'yes' : 'no' }}
      h2.c-article__content-head
        |Filters
      div#app-filters
        p {{ message | capitalize('Arguments') }}
      h2.c-article__content-head
        |Directives
      div#app-directives
        p(v-if="seen")
          |Now you see me
        p
          a(v-bind:href="url")
            |a link that is binded href
        form(v-on:submit.prevent="onSubmit")
          input(type="submit" value="submit")
      h2.c-article__content-head
        |Shorthands
      div#app-shorthands
        p
          a(:href="url" @click="doSomething")
            |Do Something.
