.l-page {
  max-width: $max-width;
  overflow: hidden;
  margin: 0 auto;
  @include l-pc-l {
    padding: 0 10%;
  }
  @include l-pc-and-tablet {
    padding: 0 7.5%;
  }
  @include l-mobile {
    padding: 0 5%;
  }
}
