.p-index-contents {
  &__list {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -2%;
  }
  &__item {
    box-sizing: border-box;
    box-shadow: 3px 3px 0 0 #ddd;
    margin-bottom: 2%;
    border-left: 6px solid #d44;
    background-color: #fff;
    @include l-pc-l {
      width: 32%;
    }
    @include l-pc-s {
      width: 49%;
    }
    @include l-tablet-and-mobile {
      width: 100%;
    }
    &-wrap {
      width: 100%;
      box-sizing: border-box;
      display: block;
      color: $color-font;
      text-decoration: none;
      @include l-pc-l {
        padding: 40px;
      }
      @include l-pc-and-tablet {
        padding: 30px;
      }
      @include l-mobile {
        padding: 20px;
      }
    }
    &-head {
      line-height: 1.25;
      margin: 0 0 1rem;
      letter-spacing: 2px;
      @include flexFontSize(2.8);
      font-weight: 400;
    }
    &-excerpt {
      margin: 0;
      letter-spacing: 2px;
    }
  }
  //
  // Init Interaction
  //
  &__item {
    &-wrap {
      transition-duration: 0.4s;
    }
  }
  //
  // Interaction
  //
  &__item {
    &__wrap:hover {
      background-color: #fff;
    }
  }
}
