.p-index-contents {
  &__head {
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    @include flexFontSize(5);
  }
  &__item {
    box-shadow: 4px 4px 0 0 #ddd;
    &-wrap {
      display: block;
      color: $color-font;
      text-decoration: none;
      background-color: #fff;
      @include l-pc-l {
        padding: 40px;
      }
      @include l-pc-and-tablet {
        padding: 30px;
      }
      @include l-mobile {
        padding: 20px;
      }
    }
    &-head {
      line-height: 1.25;
      margin: 0 0 1rem;
      letter-spacing: 2px;
      @include flexFontSize(3.6);
      font-weight: 400;
    }
    &-excerpt {
      margin: 0;
    }
  }
  //
  // Init Interaction
  //
  &__item {
    &-wrap {
      transition-duration: 0.4s;
    }
  }
  //
  // Interaction
  //
  &__item {
    &__wrap:hover {
      background-color: #fff;
    }
  }
}
