.l-gf
  p
    a(href="https://jp.vuejs.org/guide/index.html", target="_blank")
      |view official guide of vue.js.
  p
    |this page is writed by 
    a(href="https://github.com/ykob", target="_blank")
      |yoichi kobayashi
    |.
